name: Nightly Build

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches: [test/bad-commit]
    
jobs:
  test-and-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4          # what action checks out your code?

      - name: Set up Python
        uses: actions/setup-python@v5          # marketplace action for python setup
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run tests
        run: pytest

      - name: Login to DockerHub
        if: success()
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push image
        if: success()
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: shreyasyadav/bookly:latest

      - name: Send failure email
        if: failure()
        uses: hilarion5/send-mail@v1
        with:
          smtp-server: ${{ secrets.MAIL_SERVER }}
          smtp-port: ${{ secrets.MAIL_PORT }}
          username: ${{ secrets.MAIL_USERNAME }}
          password: ${{ secrets.MAIL_PASSWORD }}
          from-email: ${{ secrets.MAIL_USERNAME }}
          to-email: ${{ secrets.NOTIFY_EMAIL }}
          subject: ${{ secrets.EMAIL_SUBJECT }}
          body: ${{ secrets.EMAIL_BODY }}          
          smtp-secure: false
